.carousel-item {
  height: 400px;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 320px) {	
.carousel-item {
  height: 200px;
}
}
/* Mobile Portrait Size */
@media only screen and (max-width: 479px) {
.carousel-item {
  height: 200px;
}
}